<%- include('./includes/header.ejs') %>
<div class="container">
  <div class="row mt-5 d-flex justify-content-center align-items-center">
    <div class="col-sm-6 bg-light border border-1 rounded border-primar p-5">
      <h2 class="alert alert-success text-center">Update Student</h2>
      <form action="/update/<%=data._id%>" method="post">
        <div class="mb-3">
          <label for="name" form="form-label">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            value="<%= data.name%>"
            id="name"
          />
        </div>
        <div class="mb-3">
          <label for="age" form="form-label">age</label>
          <input
            type="number"
            name="age"
            class="form-control"
            value="<%= data.age%>"
            id="age"
          />
        </div>
        <div class="mb-3">
          <label for="fees" form="form-label">fees</label>
          <input
            type="number"
            step="2"
            name="fees"
            class="form-control"
            id="fees"
            value="<%= data.fees%>"
          />
        </div>
        <button type="Submit" class="btn btn-warning">update</button>
        <!-- <button type="Submit" class="btn btn-secondary">Back to Home</button> -->
      </form>
    </div>
  </div>
</div>
<%- include('./includes/footer.ejs') %>
