<%- include('./includes/header.ejs') %>
<div class="container">
  <div class="row mt-3">
    <div class="col-sm-6">
      <h2 class="alert alert-success text-center">Add New Student</h2>
      <form method="POST">
        <div class="mb-3">
          <label for="name" form="form-label">Student Name</label>
          <input type="text" name="name" class="form-control" id="name" />
        </div>
        <div class="mb-3">
          <label for="age" form="form-label">age</label>
          <input type="number" name="age" class="form-control" id="age" />
        </div>
        <div class="mb-3">
          <label for="fees" form="form-label">fees</label>
          <input type="number" name="fees" class="form-control" id="fees" />
        </div>
        <button type="Submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm-6">
      <h2 class="alert alert-danger text-center">List of Student</h2>
      <table class="table table-stripped text-center">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Fees</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% let slNo = 1 %> <% data.forEach(item => {%>
          <tr>
            <th><%= slNo++ %></th>
            <td><%= item.name %></td>
            <td><%= item.age %></td>
            <td><%= item.fees %></td>
            <td>
              <div class="d-flex justify-content-evenly">
                <form action="/edit/<%= item._id%>" method="get">
                  <button type="submit" class="btn">
                    <i class="fas fa-pen-square text-info"></i>
                  </button>
                </form>
                <form action="/delete/<%= item.id%>" method="post">
                  <button type="submit" class="btn">
                    <i class="fas fa-trash text-danger"></i>
                  </button>
                </form>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('./includes/footer.ejs') %>
